p {
  font-family: 'Segoe Script' ;
  color: lightcoral;
  font-size: 2vw;
}
h1 ,h2{
   font-family: "Cascadia Mono";
  color : rgb(0, 255, 76);
  font-size: 1.4rem;
 
}
h1 {
  border-bottom: 1px solid black;
}

body {
  font-family: 'Segoe Script';
  font-size: 20px;
}
 