body {
  font-family: Arial;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1a1a;
  color: white;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 168px;
  height: auto;
}

